.App {
  min-height: 100vh;
  background-color: var(--background);
  padding-top: 76px;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: var(--spacing-xl);
}